*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: darkblue;
    color: rgba(0, 255, 255, 0.66);
    
}
div{
    background-color: darkslategrey;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    padding: 10px;
}
form{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 10px;
    gap: 10px;
}
button{
    margin-top: 20px;
    background-color: aqua;
    border-radius: 6px;
    
}